<mat-card
  class="product-tile"
  [ngClass]="{ 'product-tile--unavailable': !product.available }"
  (click)="onProductClick()"
>
  <mat-card-header>
    <div mat-card-avatar [ngStyle]="styleProducerAvatar()"></div>
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-card-subtitle
      >{{ product.producer.firstName }}
      {{ product.producer.lastName }}</mat-card-subtitle
    >
  </mat-card-header>
  <div>
    <img mat-card-image [src]="product.pictureUrl" />
  </div>
  <mat-card-content>
    <p>
      {{ product.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class="d-flex">
      <div class="w-100" *ngIf="!product.available">
        INDISPONIBIL
      </div>
      <div class="d-flex justify-content-end w-100">
        <p>{{ product.price }}</p>
        <p style="font-size: small;">lei</p>
        <p>/{{ product.unit }}</p>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
