<ng-template #template id="template">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Login</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-10 offset-md-1 mt-2">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email/Phone number</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <a id="link-1" href="/reset-password">forgot password?</a>
        </form>
      </div>
    </div>
  </div>
</ng-template>
