<div class="register-page">
  <mat-toolbar>
    <span>Inregistrare utilizator</span>
  </mat-toolbar>
  <mat-card class="register-card">
    <mat-card-content>
      <form class="register-form">
        <mat-form-field class="full-width">
          <mat-label>Nume</mat-label>
          <input  matInput  placeholder="Nume" name="lastName"  required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Prenume</mat-label>
          <input  matInput  placeholder="Prenume"  name="firstName"  required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Adresa</mat-label>
          <input  matInput  placeholder="Adresa" name="address"  required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input  matInput  placeholder="Email" name="email" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Telefon</mat-label>
          <input  matInput  placeholder="Telefon" name="phone">
        </mat-form-field>
        <mat-label class="full-width">
          <span>Fotografie</span>
          <p></p>
          <input #imageInput
                 type="file"
                 accept="image/*"
                 (change)="processFile(imageInput)">
        </mat-label>
        <p></p>
        <mat-form-field class="full-width">
          <mat-label>Parola</mat-label>
          <input  matInput  placeholder="Parola"  name="password" required>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="register_consumer()" color="primary">INREGISTRARE</button>
      <button mat-raised-button (click)="register_producer()" color="primary">INREGISTRARE CA PRODUCATOR</button>
    </mat-card-actions>
  </mat-card>

</div>


