<div class="nav-menu">
  <div class="nav-menu__button">
    <span class="nav-menu--icon-size svg-home svg-home-dims"></span>
    <p>Home</p>
  </div>
  <div class="nav-menu__button">
    <span class="nav-menu--icon-size svg-producers svg-producers-dims"></span>
    Producers
  </div>
  <div class="nav-menu__button">
    <span class="nav-menu--icon-size svg-products svg-products-dims"></span>
    Products
  </div>
  <div class="nav-menu__button">
    <span class="nav-menu--icon-size svg-info svg-info-dims"></span>
    Info
  </div>
</div>
